li {
  border:1px solid #dbe3e7;
  display: inline-block;
  margin: 0 12px 14px 0;
	padding: 25px;
}

.raceTracks {
  position: relative;
}

.singleTrack {
  display: inline-block;
  width: 1000px;
  height: 50px;
  background-color: silver;
  margin-top: 25px;
  position: relative;
  border-right: dashed 3px white;
  box-sizing: border-box;
}



.speedLimit {
  position: absolute;
  left: 50px;
  display: inline-block;
  width: 5px;
}

.racer {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: blue;
}
